:root {
    --black: #040109;
    --white: #F1F7ED;
    --blue: #3bb2e2;
    --green: #028a0f;
    --red: #B33951;

    --body-bg: var(--black);
    --text: var(--white);
}

html {
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    background: var(--body-bg);

    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

.fancy-text {
    background: -webkit-linear-gradient(left, #3bb2e2, #028a0f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #121212;
background: linear-gradient(270deg, rgba(2,0,36,0.2) 0%, rgba(9,121,28,0.15) 35%, rgba(0,212,255,0.1) 100%);
}

.hero-text {
    animation: fade-in-horizontal 1s 0.5s forwards;
    color: var(--text);
    background:rgba(0,0,0, 0.1);
    opacity: 0;
}

@keyframes fade-in-horizontal {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: 0;
    }
}

.hero-container {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.profile-image {
    transition: .25s ease-in-out;
}

.profile-image > img {
    border-radius: 48px;
}

.profile-image:hover {
    scale: 1.1;
}

.callout-container {
    display: flex;
    flex-direction: column;
    justify-items:start;
}

.callout-header {
    animation: fade-in-horizontal 1s 0.5s forwards;
    font-size: 4em;
    margin: 0;
    margin-bottom: 8px;
}

.callout-container > a > button {
    width: 100%;
    font-size: 1em;
    padding: 1em 3em;
    margin-bottom: 1em;
    border: 0px solid cadetblue;
    border-radius: 48px;
    display: flex;
    align-items: center;
    gap: 1em;
    transition: .1s ease-in-out;
}

.callout-container > a {
    width: 100%;
    text-decoration: none;
}

.callout-container > a > button > svg {
    height: 2em;
}

.callout-container > a > button:hover {
    scale: 1.1;
    cursor: pointer;
}

.github-button {
    background-color: #333;
}

.linkedin-button {
    background-color: #0077B5;
}

.email-button {
    color: #121212;
    background-color: #e4f0e7;
}